@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Contact us</h2>

<address>
    The Mall, Lahore<br />
    Opposite old campus, PU<br />
    <abbr title="Phone">Ph#: </abbr>
    03417001014
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">EEP@gmail.com</a><br />
</address>