@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online VOting</h1>
    <p class="lead">
        <font color="Red">
            We fascilitate you to cast your vote online to support your candidate.
        </font>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lets register yourself first, then create a panel to conduct election or register yourself as a candidate or voter in a specific panel.
        </p>
    </div>
    <div class="col-md-4">
        <h2>About election panel</h2>
        <p>The registered candidate's and voter's registration will be completed after panel's admin verification.</p>
    </div>
    <div class="col-md-4">
        <h2>Voter's Guidence</h2>
        <p>A verified voter can vote only once, So be Careful while voting. You can see result in that panel.</p>
    </div>
</div>